jwt:
  secret: YWFzbGtqZGx6a3huY21haHJvd3VlaHJzbWRueGtqZGhmbGtzZGhmd2VsdXJoc2tmbnNk

server:
  port: 8080

client:
  host:
    url: http://localhost:3000

logging:
  level:
    org.flywaydb: DEBUG

spring:
  flyway:
    schemas: mybob
    default-schema: mybob
    enabled: true
    clean-on-validation-error: true
    locations: classpath:db/migration/h2
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:mybob;MODE=MYSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    hibernate:
      ddl-auto: none
    generate-ddl: true
    database: mysql
    properties:
      hibernate:
        clean-on-validation-error: true
        default_batch_fetch_size: 1000
        jdbc:
          batch_size: 100
  data:
    redis:
      host: localhost
      port: 6379